<h4>Add Location</h4>
<div>
  <form (ngSubmit)="onSubmit()" #locationForm=ngForm>
    <div>
      <label for="locationId">Location Id</label>
      <input id="locationId" type="text"  name="locationId"   [(ngModel)]="location.locationId" />
    </div>
    <div>
      <label for="streetAddress">Street Address</label>
      <input id="streetAddress" type="text"  name="streetAddress"   [(ngModel)]="location.streetAddress"/>
    </div>
    <div>
      <label for="postalCode">Postal Code</label>
      <input id="postalCode" type="text"  name="postalCode"   [(ngModel)]="location.postalCode"/>
    </div>
    <div>
      <label for="city">City</label>
      <input id="city" type="text"  name="city"   [(ngModel)]="location.city"/>
    </div>
    <div>
      <label for="stateProvince"> State Province</label>
      <input id="stateProvince" type="text"  name="stateProvince"   [(ngModel)]="location.stateProvince"/>
    </div>
    <div>
      <select name="country"  [(ngModel)]="location.country.countryId" > Country
        <option [ngValue]="null" disabled>Select Region</option>
        <option *ngFor="let country of countryList"   [value]="country.countryId">{{country.countryName}}</option>
      <input id="stateProvince" type="text"  name="stateProvince"   [(ngModel)]="location.stateProvince"/>
    </select>
    </div>
    <div>
      <button class="btn btn-primary">submit</button>
    </div>
  </form>
</div>
